.paddingt2{
    padding-top: 2vh;
}
.paddingt5{
    padding-top: 5vh;
}
.paddingt10{
    padding-top: 10vh;
}
.paddingl1{
    padding-top: 1vw;
}
.get-start-btn {
    padding: 15px 30px;
    font-size: 1.2em;
    background-color: #f3f5f7; /* Use the color from OpenAI website */
    color: #3b3b3b;
    cursor: pointer;
    margin-top: 20px;
}

.get-start-btn:hover {
    background-color: #eef0f1; /* Darker shade for hover effect */
}

.center{
    display:flex;
    text-align: center;
    justify-content:center;
}
.right{
    top: 0;
    bottom: 0;
    left: auto;
    right: 0;
}
.left{
    top: 0;
    bottom: 0;
    left: 0;
    right: auto;
}
.text-shadow{
    font-weight: bold;
    text-shadow: 5px 1px 5px #fffdf7;
}
